In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weatherdata/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sisimiut,GL,2022-03-29 18:48:54,66.9395,-53.6735,26.24,92,95,6.89
1,1,High Rock,BS,2022-03-29 18:48:54,26.6208,-78.2833,77.02,62,0,1.05
2,2,Qaanaaq,GL,2022-03-29 18:48:55,77.4840,-69.3632,15.19,90,100,2.04
3,3,Cidreira,BR,2022-03-29 18:48:55,-30.1811,-50.2056,76.17,71,0,12.95
4,4,Bengkulu,ID,2022-03-29 18:48:56,-3.8004,102.2655,75.76,84,100,4.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.


fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Recall that you use the input() statement to prompt a user to enter information. 
# To convert the input to a floating-point decimal number, wrap the input() 
# statement with the float() method, like this: float(input()).

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [ ]:
# Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame. 
# Inside the brackets, add the conditional filter

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,High Rock,BS,2022-03-29 18:48:54,26.6208,-78.2833,77.02,62,0,1.05
3,3,Cidreira,BR,2022-03-29 18:48:55,-30.1811,-50.2056,76.17,71,0,12.95
4,4,Bengkulu,ID,2022-03-29 18:48:56,-3.8004,102.2655,75.76,84,100,4.72
14,14,Marshall,US,2022-03-29 18:45:52,34.3834,-86.3333,75.33,61,0,10.36
17,17,Rikitea,PF,2022-03-29 18:49:02,-23.1203,-134.9692,77.67,70,17,5.41
18,18,Hithadhoo,MV,2022-03-29 18:49:02,-0.6000,73.0833,82.49,66,11,6.02
23,23,Vanimo,PG,2022-03-29 18:49:05,-2.6741,141.3028,76.42,91,100,9.04
24,24,Castro,BR,2022-03-29 18:49:06,-24.7911,-50.0119,78.19,58,0,5.91
32,32,Linhares,BR,2022-03-29 18:49:10,-19.3911,-40.0722,83.88,62,98,6.85
33,33,Sibut,CF,2022-03-29 18:49:10,5.7180,19.0739,84.40,33,29,4.16

In [24]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1   High Rock      BS     77.02  26.6208  -78.2833
3    Cidreira      BR     76.17 -30.1811  -50.2056
4    Bengkulu      ID     75.76  -3.8004  102.2655
14   Marshall      US     75.33  34.3834  -86.3333
17    Rikitea      PF     77.67 -23.1203 -134.9692
18  Hithadhoo      MV     82.49  -0.6000   73.0833
23     Vanimo      PG     76.42  -2.6741  141.3028
24     Castro      BR     78.19 -24.7911  -50.0119
32   Linhares      BR     83.88 -19.3911  -40.0722
33      Sibut      CF     84.40   5.7180   19.0739

In [ ]:
# Recall that when we made a request with the OpenWeatherMap API, we added the base URL with the city, city_url, 
# to the request, city_weather = requests.get(city_url).

# We can use the same format to make a request with the Google Places API. The following base URL is provided to 
# retrieve the JSON format of the data:
    
    # https://maps.googleapis.com/maps/api/place/nearbysearch/json
    
# The section "Passing Parameters In URLs" states that we can add the parameters as a dictionary of strings, 
# using the params keyword argument requests.get('base URL', params=parameters)

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Next, add the coordinates for the location parameter for each city, which need to be pulled from the Lat and Lng columns
# of the hotel_df DataFrame. We'll need to iterate through the columns of the DataFrame and add the coordinates to the 
# params dictionary before making the request and retrieving the JSON data

# We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the 
# for loop using this syntax: for index, row in df.iterrows()

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df.head()

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))